body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
}
.heading {
  padding: 0 0 0 10px;
  margin: 0;
  font-size: 32px;
  font-weight: 900;
  text-shadow: 0 0 5px white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* ----------------------------------------*/

body {
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  height: 650px;
  justify-content: space-between;
}
.content > .card {
  width: 25%;
  height: 35%;
  padding: 15px 13px 0 13px;
  font-size: 14px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sidebar {
width: 35%;
}

.content > .card:hover {
  margin-bottom: 25px;
   box-shadow: 0 7px 5px gray;
  transition: 1s;
}

* {
  border: 1px solid black;
}